.checkbox-label__pseudo-item {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #C5C5C8;
  border-radius: inherit;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease;
}

.checkbox-label__pseudo-item::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7354 6.67929L9.58662 15.4839L5.25781 10.6682L6.74523 9.33115L9.60819 12.5162L16.2676 5.3208L17.7354 6.67929Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -1px;
  left: -1px;
  transition: opacity 0.2s ease;
  opacity: 0;
}
