.total__offer-accept-check {
  background-image: url(../../../images/offer-accept-check-icon.svg);
  width: 13px;
  height: 24px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
  .total__offer-accept-check {
    margin-left: 0;
  }
}
