.cart-items__accordion-btn {
  background-image: url(../../../images/accordion-icon.svg);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-top: 1px;
  opacity: 1;
  transition: opacity 0.5s;
}

.cart-items__accordion-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .cart-items__accordion-btn {
    margin-right: 4px;
  }
}
