.popup__close-button {
  background-image: url(../../../images/popup-close-btn.svg);
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  opacity: 1;
  transition: opacity 0.5s;
}

.popup__close-button:hover {
  opacity: 0.6;
}
