.header__container {
  max-width: 1352px;
  width: calc(100% - 48px);
  display: flex;
  margin: 0 auto;
  padding: 16px 0 35.5px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .header__container {
    width: calc(100% - 26px);
    padding: 14px 0 38px;
  }
}
