.total__order-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
}

@media screen and (max-width: 767px) {
  .total__order-details {
    gap: 16.5px;
  }
}
