.item__price {
  display: flex;
  min-width: 110px;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  margin-top: -3px;
  grid-area: price;
}

@media screen and (max-width: 767px) {
  .item__price {
    grid-area: unset;
    grid-column: 2;
    grid-row: 1;
  }
}
