.burger-menu-btn__line {
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
}

.burger-menu-btn__line::before {
  content: "";
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 10px;
}

.burger-menu-btn__line::after {
  content: "";
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: -10px;
}

@media screen and (max-width: 767px) {
  .burger-menu-btn__line {
    width: 22px;
    height: 2.5px;
  }
  .burger-menu-btn__line::before {
    width: 16px;
    height: 2.5px;
    top: 8px;
  }
  .burger-menu-btn__line::after {
    width: 22px;
    height: 2.5px;
    top: -8px;
  }
}
