.cart-section {
  margin: 0;
  padding: 16.5px 24px 24px;
  background-color: #FFF;
  border-radius: 16px;
}

@media screen and (max-width: 1024px) {
  .cart-section {
    padding: 16.5px 22.5px 24px 24px;
    max-width: 638px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1023px) {
  .cart-section {
    max-width: none;
    padding: 16.5px 24px 24;
  }
}

@media screen and (max-width: 767px) {
  .cart-section {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }
}
