.item__count {
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-area: count;
}

@media screen and (max-width: 767px) {
  .item__count {
    grid-area: unset;
    grid-column: span 2;
    grid-row: 3;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .item__count {
    max-width: 284px;
  }
}
