.card-logo {
  display: flex;
  width: 32px;
  height: 24px;
  background-size: 93.75%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #f6f6fa;
  border-radius: 4px;
}
