.total__confirm-order-btn {
  width: 100%;
  border: 0;
  background: #cb11ab;
  color: #fff;
  text-align: center;
  font-family: "Segoe UI", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  margin: 0;
  padding: 7.5px 0 12.5px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}

.total__confirm-order-btn:hover {
  opacity: 0.7;
}
