.cart-section__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .cart-section__header {
    margin-bottom: 8px;
  }
}
