.cart-items__unavailable-heading {
  font-family: "Segoe UI", "Arial", sans-serif;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: -3px 0 1px;
  padding: 0;
}
