.checkbox-label__invisible-item {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-label__invisible-item:checked + .checkbox-label__pseudo-item {
  background-color: #CB10AB;
  border: 1px solid #CB10AB;
  transition: background-color 0.2s ease;
}

.checkbox-label__invisible-item:checked + .checkbox-label__pseudo-item::before {
  opacity: 1;
  transition: opacity 0.2s ease;
}
