.item__count-warning {
  font-family: "Segoe UI", "Arial", sans-serif;
  color: #F55123;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
