.cart-content {
  display: flex;
  flex-direction: column;
  max-width: 891px;
  min-width: 638px;
  gap: 16px;
  flex: 1;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cart-content {
    max-width: 640px;
    min-width: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cart-content {
    max-width: 100%;
    width: 100%;
    min-width: fit-content;
    gap: 12px;
  }
}
