.cart-content {
  width: calc(100% - 48px);
  max-width: 1352px;
  display: grid;
  grid-template-columns: minmax(640px, 891px) minmax(303px, 429px);
  grid-template-rows: repeat(4, minmax(max-content, auto));
  column-gap: 32px;
  row-gap: 16px;
  margin: 0 auto;
}
