.item__good-img-block {
  display: flex;
  max-height: 96px;
  gap: 12px;
  align-items: center;
  grid-area: img;
}

@media screen and (max-width: 767px) {
  .item__good-img-block {
    grid-area: unset;
    grid-column: 1;
    grid-row: span 2;
    position: relative;
    max-height: 106px;
    margin-bottom: 10px;
  }
}
