.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-radius: 16px 16px 0 0;
  padding: 16px 20px 13px 24px;
  box-sizing: border-box;
}
